body {
	background-color: #001A70;
	color: #fff;
	font-family: "font128363", "Arial", sans-serif;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
}

body.white {
	background-color: #fafafa;
	color: #001A70;
}

ul {
	padding: 0;
	width: 500px;
	margin: 0 auto;
}

.separator {
	border-top: solid 1px #fff;
	width: 50px;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 70px;
}

.schedule {
	padding-top: 15px;
	margin-top: 50px;
	background-color: #fafafa;
}

.schedule h2 {
	color: #001A70;
}

.schedule ul {
	width: 95%;
	max-width: 500px;
}

ul li {
	list-style: none;
	border-top: solid 1px #001A70;
	color: grey;
	margin-top: 20px;
	text-align: center;
	padding: 10px;
	max-width: 100%;
}

.wrapper {
	text-align: center;
}

.button {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 12px 20px;
	font-size: 1.25em;
	border-radius: 6px;
	box-sizing: border-box;
	background-color: blue;
	width: 75%;
	margin: 0 auto;
	max-width: 300px;
}

.button.white {
	color: #001A70;
	background-color: #fff;
}

.schedule li {
	text-align: left;
	padding-left: 30%;
}

.back {
	position: absolute;
	left: 50px;
}

.list_tweets {
	width: 90%;
}

.list_tweets li {
	max-width: 100%;
}
